#services {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.section-header {
  margin-bottom: 48px;
  text-align: left;
  overflow: hidden;
}

.slide-right {
  opacity: 0;

  margin-left: 100%;
  min-width: 100vw;
}

.slide-left {
  opacity: 0;

  margin-right: 100%;
  min-width: 100vw;
}

.left-show {
  opacity: 1;
  transition: all 3s;
  margin-right: 0%;
  @media only screen and (max-width: 600px) {
    transition: all 0.6s;
  }
}

.right-show {
  opacity: 1;

  transition: all 3s;
  visibility: visible;

  margin-left: 0%;

  @media only screen and (max-width: 600px) {
    transition: all 0.6s;
  }
}

.reverse {
  flex-direction: row-reverse;
  background-color: #f2f2f2;
  .info {
    margin-right: 128px;
    @media only screen and (max-width: 1024px) {
      margin-right: 0px;
      font-size: 18px;
    }
  }
}
.service-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 0px 32px;
  padding-top: 16px;
  min-height: 50vh;

  @media only screen and (max-width: 1024px) {
    margin-top: 36px;
  }

  /* mobile */
  @media only screen and (max-width: 480px) {
    margin-top: 18px;
  }
  .service-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: 40px;
      font-weight: 800;
      text-align: left;
      margin-bottom: 8px;
    }
    p {
      text-align: left;
      margin-top: 0px;
      @media only screen and (max-width: 1024px) {
        text-align: center;
        margin-left: 16px;
        margin-right: 16px;
        font-size: 18px;
      }
    }

    .info {
      align-self: center;
      margin-left: 128px;
      @media only screen and (max-width: 1024px) {
        margin-left: 0px;
        font-size: 18px;
      }
    }
    span {
      font-size: 28px;
      font-weight: 600;
    }

    .service-image {
      height: 200px;
      width: auto;
      object-fit: contain;
    }

    .api-icon {
      width: 128px;
      height: 128px;

      @media only screen and (max-width: 1024px) {
        width: 96px;
        height: 96px;
      }
    }

    @media only screen and (max-width: 1024px) {
      h2 {
        text-align: center;
      }

      .info {
        margin-left: 0px;
        font-size: 18px;
      }
      span {
        font-size: 18px;
      }

      .service-image {
        height: 80px;
      }
    }
  }
}
