.fade-in-section {
  opacity: 0;
  transform: translaty(-10vh);
  visibility: hidden;

  transition: opacity 3s ease-out, transform 2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
